.special-events {
  background-color: #e9dfcb;
  padding: 100px 40px;
  font-family: "Rye", cursive;
}

.events-container {
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.events-image img {
  width: 480px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.events-content {
  flex: 1;
  min-width: 300px;
}

.events-content h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Rye", cursive;
}

.events-subtitle {
  /* font-family: "Lato", sans-serif; */
  font-weight: 400;
  color: #333;
  margin-bottom: 20px;
}

.events-content p {
  /* font-family: "Lato", sans-serif; */
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Features */
.events-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 30px 0;
}

.feature-card-icon {
  display: flex;
  align-items: center;
  /* background-color: #d3b970; */
  color: #000;
  /* padding: 12px 15px; */
  border-radius: 4px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  gap: 12px;
}

.feature-icon {
  font-size: 22px;
}

/* Buttons */
.events-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn-gold {
  background-color: #c9a44f;
  border: none;
  color: #000;
  /* font-family: "Lato", sans-serif; */
  font-weight: 700;
  padding: 12px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-gold:hover {
  background-color: #b48e3f;
}

.btn-outline {
  background: none;
  border: 2px solid #000;
  color: #000;
  /* font-family: "Lato", sans-serif; */
  font-weight: 700;
  padding: 12px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #000;
  color: #fff;
}

/* Responsive */
@media (max-width: 900px) {
  .events-container {
    flex-direction: column;
    text-align: center;
  }

  .events-image img {
    width: 100%;
    max-width: 500px;
  }

  .events-features {
    grid-template-columns: 1fr;
  }

  .events-buttons {
    justify-content: center;
  }
}
