.footer-section {
  background-color: #111;
  color: #fff;
  padding: 60px 20px 20px;
  font-family: "Rye", serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

.footer-column h3 {
  font-size: 20px;
   font-family: "Rye", serif;
  margin-bottom: 15px;
  color: #949494; 
}

.footer-column p,
.footer-column li {
  font-size: 14px;
  line-height: 1.6;
  color: #5e5555;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-column li:hover {
  color: #d4af37;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: start;
}

.social-icons .icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons .icon:hover {
  transform: scale(1.2);
  color: #d4af37;
}

.footer-column.map iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
}

.footer-web-title{
    font-family: "Rye", serif;
    color: #949494;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    text-align: center;
    padding-top: 15px;
    max-width: 1400px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.footer-web-title > img {
    width: 100%;
}

/* Footer bottom */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  color: #999;
}

.social-icons img {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.contact-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 8px;
  display: inline;
  opacity: 0.8;
}

.copyright{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: 14px;
    font-family: Open Sans;
    max-width: 1400px;
    margin: 13px auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    /* flex-direction: column;
    align-items: center; */
    /* text-align: center; */
  }

  .footer-column {
    max-width: 100%;
  }

  .footer-column.map iframe {
    height: 250px;
  }


}


