
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #ffffff;
}

.pre-header{
    text-align: center;
    padding: 10px 0;
background-color: #A99867;
}